{
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 99,
    "trailingComma": "all",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2,
                "proseWrap": "preserve"
            }
        },
        {
            "files": "*.html",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
